@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch+Pop&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gatsby-focus-wrapper {
    background: linear-gradient(359deg, rgb(114, 215, 163), rgb(12, 32, 22));

}

/*Navbar*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #33333300;
  padding: 10px;
  border-bottom: 2px solid black;

}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 20px;

}

.nav-links a {
  color: rgb(182, 179, 129);
  text-decoration: none;
  font-size: 27px;
}

.nav-links a:hover {
  color: rgb(225, 223, 180);
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 8px;
  margin-right: 8px;
  font-size: 14px;
  border:none;
}

.search-bar button {
  background-color: rgb(182, 179, 129);
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}

.navbtn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(225, 223, 180);
  font-size: 20px;
}

.logo {
  text-align: center;
  width: 100%;
}

  .social a{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 0;
  font-size: 22px;
}

.copy {
  text-align: center;
  margin-top: 10px;
  font-size: 22px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 8px;
    border: 1px solid #bcbb81;

  border-radius: 4px;
  margin-right: 8px;
  font-size: 16px;
  background-color: #00000049;
    color: rgb(225, 223, 180);

}


.search-bar button {
  padding: 8px 16px;
  background-color: #878444;
  color: rgb(225, 223, 180);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}


.search-bar button:hover {
  background-color: #b0ac5b;
}

nav ul li a {
  color: rgb(173, 169, 96);
  text-decoration: none;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  font-family: 'Gruppo', sans-serif;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: rgb(225, 223, 180);
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: .5s ease-in-out;
}

nav ul li a:hover::after {
  width: 50%;
}

ul {
  margin: 0;
  padding: 10px;
}

.logo-image {
  width: 300px;
  height: auto;
  margin-top: 30px;
}

/*SÖK-CSS*/

.search-results {
  background-color: #000000b6;
  border: 1px solid #bcbb81;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}


.search-results ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-results li {
  padding: 8px;
  position: relative;
}

.search-results li:hover {
  background-color: #a2a56ca2;
}

.search-results a {
  color: #bcbb81;
  text-decoration: none;
  display: block;
  text-align: center;
}

.search-results a::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: .5s ease-in-out;
}

.search-results p {
  color: #f7f5a6;
  text-decoration: none;
  display: block;
  text-align: center;
}

/*Video-Hero*/

.hero-block {
      position: relative;
      height: 100vh;
      overflow: hidden;
      /* background-image: linear-gradient(to bottom, #04cbb1, #03d5b9, #02dec1, #02e8ca, #01f2d2, #0bf4d7, #14f6db, #1cf8e0, #2cf2e2, #3aede2, #47e7e2, #53e1e1); */


    }



.overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      /* background: rgba(0, 0, 0, 0.5); */
    }



.hero-content {

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width:600px;
      text-align: center;
      z-index: 1;
    }

.hero-content h1 {
      margin-bottom: 20px;
      font-size: 3em;
    }

.hero-content p {
      font-size: 1.5em;
      color: rgb(225, 223, 180);
    }

 .hero-content a {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 20px;
      background-color: rgb(225, 223, 180);
      color: rgb(120, 114, 15);
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease-in-out;
    }

.hero-content a:hover {
      background-color: rgb(80, 78, 54);
    }

    /*Taggar*/

a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgb(173, 169, 96);
  font-size: 30px;
}

a:hover{
  color: rgb(225, 223, 180);
}

 p {
  text-align: center;
  margin-top: 10px;
  color: rgb(96, 95, 33);
 }

 h1{
  text-align: center;
  color: rgb(145, 143, 106);
  margin-top: 30px;

}


 h2 {
  text-align: center;
  margin-top: 10px;
  color: rgb(96, 95, 33);
  font-family: 'Gruppo', sans-serif;
  font-size: 70px;
  font-weight: 700;
 }

h4{
  text-align: center;
  color: rgb(212, 195, 117);
  margin-top: 30px;
}

/*UL-LI*/

.list {
    color: rgb(10, 10, 10);
    background: linear-gradient(260deg, rgb(119, 117, 57) 0%, rgba(255, 255, 255, 0.841) 60%, rgb(157, 155, 118) 90%);
    list-style: none;
    /* border-bottom-right-radius: 700px;
    border-top-left-radius: 700px; */
    box-shadow: rgba(0, 0, 0, 0.818) 0px 30px 60px -12px, rgba(0, 0, 0, 0.758) 0px 18px 36px -18px;
}

li{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  margin: 12px auto;
}

.flist{
    list-style: none;
  }

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.img {
  max-width: 100%;
  max-height: 100%;
  margin: 20px auto;
  border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.504) 0px 30px 60px -12px, rgba(0, 0, 0, 0.427) 0px 18px 36px -18px;
  }


  /*FOOTER*/

footer{
    box-shadow: rgba(0, 0, 0, 0.818) 0px 30px 60px -12px, rgba(0, 0, 0, 0.758) 0px 18px 36px -18px;
    background: linear-gradient(260deg, rgb(119, 117, 57) 0%, rgba(255, 255, 255, 0.779) 60%, #9d9b76 90%);
    padding: 10px;
  }

.copy {
  text-align: center;
  margin-top: 10px;
}

.social{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
}

.fa-facebook, .fa-github,
.fa-youtube, .fa-instagram {
    color: rgb(185, 183, 146);
    text-shadow: -1px 2px 1px rgba(0, 0, 0, 0.66) ;
    transition: .2s;
  }

  .fa-facebook:hover, .fa-github:hover,
.fa-youtube:hover, .fa-instagram:hover{
  transform: scale(1.1);
  color: rgb(225, 223, 180) ;
    /* text-shadow: -1px 2px 1px rgb(0, 0, 0) ; */

}

/*KONTAKT*/

.search-container {
  position: relative;
    max-width: 600px;
    margin: 50px auto;
    background-color: #00000042;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    z-index: 300;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: rgb(225, 223, 180);
}

.contact-form input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: rgb(240, 235, 164);
    background-color: transparent;
}

.contact-form button {
    background-color: rgba(213, 211, 180, 0.44);
    color: rgb(240, 235, 164);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/*ABOUT*/

#about{
    padding: 80px 0;
    color: rgb(204, 205, 162);
    font-size: 18px;

}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.aboutlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 20px ;
    margin-bottom: 0;
}

.aboutlist li {
    background-color: rgba(0, 0, 0, 0.373);
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    text-align: center;
    margin-bottom: 10px;
    padding: 18px;
    width: 100%;
}

.aboutlist li span {
    color: rgb(225, 223, 180);
    font-size: 23px;
}

.aboutlist li img {
    width: 50%;
    border-radius: 15px;
    margin-top: 10px;
}

.about-col-3{
    display: flex;
    gap: 150px;
  }

.about-col-3 img{
    box-shadow: 1px 1px 12px rgba(22, 51, 29, 0.541);
    width: 25%;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 5px;

}


.about-col-2 img {
  width: 40%;
}

.about-col-2 p {
  color: rgb(185, 183, 146);
  font-size: 29px;
  margin-bottom: 50px;
}

.about-col-2 h3 {
  color: rgb(185, 183, 146);
  font-size: 24px;
  margin-bottom: 0px;
   text-shadow: -1px -1px 3px #020202,
      2px 2px 4px #1b1b1b;
}



.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: rgb(168, 173, 139);
    letter-spacing: 16px;
 text-shadow: -1px -1px 3px #020202,
      2px 2px 4px #1b1b1b;
      font-family: 'Julius Sans One', sans-serif;
       /* font-family: 'Syncopate', sans-serif; */

}

.tabtitles{
    display: flex;
    margin: 0px 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 4px;
    background: rgba(0, 0, 0, 0.373);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: .5s;
}

.tab-links.active-link::after{
 width: 65%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
  }


.tab-contents ul li span {
    color: rgb(225, 223, 180);
    font-size: 23px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}


/*ERROR*/

.error-sections {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(../assets/stockholm.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.error {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.673);
  padding: 60px;
}


.error-button  {
  background-color: rgb(69, 6, 84);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;

  text-decoration: none;
  transition: background-color 0.9s ease;
}


.error-button:hover {
background-color: rgb(140, 30, 168);
}


/*INFO*/

.info-project h1 {
/* font-family: 'Honk', system-ui; */
font-family: 'Rubik Glitch Pop', system-ui;
color: #ffffff99;
text-shadow: 16px 22px 11px rgba(0, 0, 0, 0.719);

font-size: 10em;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.726);
  box-shadow: 16px 22px 11px rgba(0, 0, 0, 0.719);
}

.info-title {
  grid-column: span 2;
  color: rgb(225, 223, 180);
}

.info-paragraph {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
  padding: 0 300px;

}

/*INFO-PORTFOLIO*/

#portfolio{
    padding: 50px 0;
}

.work-list {
   display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

/*Transform för effekt vid hover*/
.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform .7s;
}
/* ta ner height från 100% till 0 för effekten av hover och transition height*/
.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(67, 192, 140, 0.823));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height .7s;
}

.layer h3 {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 24px;
    color: #c5bb84;
    text-shadow: -1px -1px 3px #020202, 2px 2px 4px #1b1b1b;
}

.layer p {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 14px;
    color: #c5bb84;
    text-shadow: -1px -1px 3px #020202, 2px 2px 4px #1b1b1b;
}

.layer a {
    margin-top: 20px;
    color: #998930;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform:scale(1.7);
}
/* styr height för effekt*/
.work:hover .layer {
height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: -moz-fit-content;
    width: fit-content;
    border: 1px solid rgb(74, 196, 145);
    padding: 14px 50px;
    border-radius: 7px;
    text-decoration: none;
    color: #fff;
    transition: background .7s;
    border: 2px solid #c5bb84;
}

.btn:hover{
background:rgb(53, 153, 111);
}



/* RESPONSIV*/
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1;
  }
.subtitle {
  display: flex;
  align-content: space-evenly;
  font-size: 25px;
  letter-spacing: 2px;
}

.about-col-2 h3{
  font-size: 14px;
}
.about-col-2 p {
  display: flex;
  align-content: space-evenly;
  font-size: 15px;
  color: rgb(225, 223, 180);
}

.about-col-2 {
  padding: 40px;
}

.tabtitles{
  margin: 0;

}
 .tabtitles p {
  font-size: 14px;
  color: #f2faad;
 }
 .aboutlist {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}


  .nav-links.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to left, transparent , #000000 , #000000 , #000000 , transparent );
 }
 .tab-contents ul li span {
  color: rgb(147, 149, 90);
  font-size: 28px;
 }

 .tab-links::after{
  background-color: rgba(0, 0, 0, 0.373);
}

 .hero-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width:300px;
      text-align: center;
      z-index: 1;
    }

 .about-col-3 img{
display: none;
 }
  .nav-links li {
    text-align: center;
    margin: 10px 0;
    width: 100%;
  }

  .nav-links a {
    margin-left: 12px;
  }

  nav ul li a:hover::after {
  width: 0%;
}

  .navbtn {
    display: block;
    margin: 10px;
    align-self: flex-end;
    z-index: 200;
  }

  li {
    display: inline-block;

  }

  .list {
    margin: 10px auto;
  }

  .search-bar {

    margin: 4px 5px;
  }
   .container {
        margin: 10px;
    }

      .info-paragraph {
    padding: 0 10px;
  }
  .info-project h1 {
    font-size: 32px;
    font-family: 'Honk', system-ui;

  }
}
